.note-form-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 80%;
  max-width: 700px;
}

.note-form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.note-form-container form textarea {
  padding: 10px;
  font-size: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 10px;
  color: #000;
  resize: none;
}

.note-form-container form textarea:focus {
  outline: none;
  border-bottom: 1px solid #000;
}