.customer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 auto;
  font-size: 15px;
  background-color: rgb(79, 162, 250);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  overflow-x: hidden;
}

.row-title {
  font-size: 30px;
  font-weight: bold;
}

.customer-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 15px;
}

.info-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.info-field > p:first-of-type {
  font-weight: bold;
}

.row-actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.customer-row button {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .customer-row {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .customer-row {
    display: grid;
    grid-template-columns: 200px 1fr 140px;
    column-gap: 10px;
  }

  .row-title {
    font-size: 20px;
    padding-right: 10px;
    word-break: break-all;
  }

  .customer-info {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-auto-flow: column;
  }

  .info-field {
    word-break: break-all;
  }

  .info-field > p:first-of-type {
    display: none;
  }

  .row-actions {
    row-gap: 10px;
    width: max-content;
  }

  .customer-row button {
    font-size: 17px;
    width: 160px;
  }
}