.customer-page-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.customer-details {
  width: 80%;
}

.notes {
  width: 80%;
  background-color: rgb(79, 162, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}