.customer-page-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.customer-details {
  width: 80%;
}

.notes {
  width: 80%;
  background-color: rgb(79, 162, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.note-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  row-gap: 10px;
  width: 90%;
  background-color: rgb(69, 136, 238);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  max-width: 700px;
}

.note-row a {
  width: 70%;
}

.note-row button {
  width: 70%;
  font-size: 15px;
  padding: 5px 10px;
}

.note-row a button {
  width: 100%;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.notes-actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 80%;
}

.notes-actions a button {
  width: 100%;
}